<h1>수정하기</h1>


<form action="/board/b_modify/<%= @post.id %>" method="post" enctype="multipart/form-data">
  제목:<br>
  <input type="text" name="title" placeholder="제목"><br>
  내용:<br>
  <input type="text" name="content" placeholder=""><br><br>
  <!--<input type="file" name="photo" accept="/image">-->
  <input type="submit" value="확인">
  
</form>

<a href="/board/b_index">목록</a>