/* Full-width input fields */

/* Set a style for all buttons */
form  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

button {
    background-color: #383A3F;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: gray;
}